<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        width: 70%;
        margin: 0 auto;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        margin-top: 1.5em;
        width: {{size}}px;
    }
    .boxes{
        width: 75px;
        height: 75px;
    }
    .color1{
        background-color: royalblue;
    }
    .color2{
        background-color: skyblue;
    }
</style>
<body>
    <div class="container">
        {% for x in range(0,boxes): %}
        <div class="boxes color1" >
        </div>
        <div class="boxes color2" >
        </div>
        {% endfor %}
        {% for x in range(0,extrabox): %}
        <div class="boxes color1" >
        </div>
        {% endfor %}
    </div>
</body>
</html>